In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [7]:
df.sample(5)

    age  gender review education purchased
19   97    Male   Poor        PG       Yes
17   22  Female   Poor        UG       Yes
43   27    Male   Poor        PG        No
41   23    Male   Good        PG       Yes
47   38  Female   Good        PG       Yes

In [8]:
df = df.iloc[:,2:]

In [9]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

nw im passing this in x (df[:0:2]=all rows col number frm 0 to 2)
for y(all rows and last col).test size that i put is 0.2

In [24]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
X_train

     review education
39     Poor        PG
6      Good    School
22     Poor        PG
2      Good        PG
14     Poor        PG
23     Good    School
31     Poor    School
32  Average        UG
28     Poor    School
27     Poor        PG
40     Good    School
26     Poor        PG
25     Good    School
16     Poor        UG
0   Average    School
18     Good    School
48     Good        UG
20  Average    School
13  Average    School
35     Poor    School
3      Good        PG
36     Good        UG
47     Good        PG
21  Average        PG
1      Poor        UG
15     Poor        UG
11     Good        UG
30  Average        UG
8   Average        UG
24  Average        PG
12     Poor    School
44  Average        UG
10     Good        UG
17     Poor        UG
9      Good        UG
42     Good        PG
37  Average        PG
19     Poor        PG
29  Average        UG
38     Good    School

In [13]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe is an object of ordinal encoder nd then pass 1 parameter which is going to be our list i hv passed 2 lists 1 is result and 1 is education,in that list i hv passed hw many categorical data has to be transformed

if i dnt give categories there it will randmly decide values to be specified

In [14]:
oe.fit(X_train) #fit that in train

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [37]:
X_train = oe.transform(X_train) #transforming both x test and y test
X_test  = oe.transform(X_test)

In [38]:
X_train

array([[0., 2.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [1., 2.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [1., 2.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [1., 2.],
       [0., 2.],
       [1., 1.],
       [2., 0.]])

In [36]:
from sklearn.preprocessing import LabelEncoder

we have to label encode the last clmn which is purchased column

In [18]:
le = LabelEncoder()

created object for label encoder there is no parameter it will randomly decide which value is to be specified

In [19]:
le.fit(y_train)  #fitting training data

LabelEncoder()

In [30]:
le.classes_    #here no means 0 and yes means 1

array(['No', 'Yes'], dtype=object)

In [34]:
y_train

array([0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0])

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')